/* Header section */

header {
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid black;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
}

div {
	border: 1px solid black;
}

header nav {
	padding-right: 40px;
}

nav span {
	display: inline-block;
}

a {
	color: black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {

}

.logo span {
	color: MediumAquamarine;
}

.content {
	display: flex;
	padding-top: 120px;
}

.column {
	display: flex;
	flex-direction: column;
}

.column.large {
	width: 630px;
}

.column.medium {
	width: 300px;
}

.column.small {
	width: 420px;
}

/* Project by Gregory Ardison-Gardner */
